.square {
  width: 130px;
  height: 130px;
  background-color: var(--water-background);
  border-radius: 5px;
  cursor: pointer;
}

/* .square:hover {
  cursor: pointer;
} */

.not-allowed {
  cursor: not-allowed !important;
}

.circle-won {
  background-color: #dd7f9f;
}

.cross-won {
  background-color: rgb(63, 167, 240);
}
